

<%= form_with model: @post do |form| %>
    <div class="create-new">
        <h1 class="new">New Post</h1>
        <div>
            <%= form.label :title %><br>
            <%= form.text_field :title%>
        </div>

        <div>
            <%= form.label :body%><br>
            <%= form.text_area :body %>
        </div>

        <div>
            <%= form.submit %>
        </div>
    </div>
<% end %>